# API and web framework
fastapi
uvicorn
python-multipart

# Celery and Redis
celery
redis
flower

# Computer vision and ML
opencv-python
numpy
ultralytics
supervision
onnx
onnxslim
onnxruntime
ncnn
psycopg2-binary